<div class="header__custom display-table c-page-header-bg">
    <div class="display-table-cell">
        <div class="wrapper wrapper--margins">

            <h1 class="c-page-title" itemprop="name">Corporate Gift Boxes</h1>


        </div>
    </div>
    <span class=""></span>
</div>


<div class="wrapper">

    <div class="c-title-card u-text-center">
        <div class="c-title-card__inner">
            <div class="c-title-card__icon c-title-card__icon--glass">
                <div class="c-title-card__icon-inner">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.9 93.1">
                        <path fill="#fff" d="M48,0H5.8C4.8,0,4,0.7,3.8,1.7L0,30.8c0,0.1,0,0.2,0,0.3c-0.1,14.2,10.8,26,24.9,27.1v31.1h-9.6c-1.1,0-1.9,0.9-1.9,1.9
                          c0,1.1,0.9,1.9,1.9,1.9h23c1.1,0,1.9-0.9,1.9-1.9c0-1.1-0.9-1.9-1.9-1.9h-9.6V58.1C43,56.9,53.9,45,53.7,30.8L49.8,1.7
                          C49.7,0.7,48.9,0,48,0z M7.4,3.9h38.8l2.6,19.4h-44L7.4,3.9z M26.9,54.3c-12.7-0.1-23-10.4-23-23.1l0.5-4h45l0.5,3.9
                          C49.9,43.8,39.6,54.2,26.9,54.3z M97,47.8L94.2,27c-0.1-1-0.9-1.7-1.9-1.7H62.1c-1,0-1.8,0.7-1.9,1.7l-2.8,20.8
                          c0,0.1,0,0.2,0,0.3c0,10.2,7.7,18.8,17.9,19.8v21.3h-6.3c-1.1,0-1.9,0.9-1.9,1.9c0,1.1,0.9,1.9,1.9,1.9h16.5
                          c1.1,0,1.9-0.9,1.9-1.9c0-1.1-0.9-1.9-1.9-1.9h-6.3V67.9C89.4,66.8,97.1,58.1,97,47.8z M63.7,29.2h26.9L92.3,42H62L63.7,29.2z
                           M77.2,64.2c-8.8,0-16-7.2-16-16l0.3-2.4h31.3l0.3,2.2C93.2,56.9,86,64.1,77.2,64.2L77.2,64.2z"/>
                    </svg>
                </div>
            </div>
            <!-- <h2 class="u-text-playfair-italic has-accent-line">Lorem Ipsum Delor</h2> -->
            <p class="u-text-brandon-reg">Who says the office has to be dreary? Enlist our professional
                Giftenders to design and brand your company’s perfect corporate gift.</p>
        </div>
    </div>

</div>

<div class="c-divider--title--boardroom u-text-center">
    <div class="c-divider__accent"></div>
    <h2 class="c-subheading-section--boardroom">Corporate Gifts</h2>
    <div class="c-divider__accent"></div>
</div>

<div class="wrapper u-spacing-padding-top-bottom-10">

    <div class="c-boardroom-main-content">

        <div class="c-boardroom-main-content__buttons">
            <a download
               href="http://cdn.shopify.com/s/files/1/1504/0434/t/5/assets/CorpDeck.pdf?9031248892844675455"
               class="c-btn c-btn--orange c-btn--how-it-works">
                <div class="c-btn__inner">
                    <div class="c-btn__inner-text">How it Works</div>

                    <svg class="c-btn--how-it-works__icon" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 94.86 55.33">
                        <path d="M46 35a2 2 0 0 0 2.79 0L80.44 3.37A2 2 0 0 0 79 0H15.81a2 2 0 0 0-1.4 3.37zM90.9 47.43H4a4 4 0 1 0 0 7.9h87a4 4 0 1 0 0-7.9z"/>
                    </svg>

                </div>
            </a>


            <a href="contact.html" class="c-btn c-btn--orange c-btn--contact-us">
                <div class="c-btn__inner c-btn__inner__even-padding">
                    <div class="c-btn__inner-text">Contact us</div>
                </div>
            </a>

            <!-- </div> -->


        </div>

        <div class="c-boardroom-main-content__img">
            <div class="c-frame">
                <img style="width: 666px; height: auto;"
                     src="/assets/images/assets/boardroom-hero-6668f03.jpg"
                     class="">

            </div>
        </div>
    </div>
</div>