<div class="header__custom display-table c-page-header-bg">
    <div class="display-table-cell">
        <div class="wrapper wrapper--margins">
            <h1 class="c-page-title" itemprop="name"> My account </h1>
        </div>
    </div>
    <span class=""></span>
</div>


<div class="wrapper wrapper--margins wrapper--mini">

    <div class="grid-uniform">

        <div class="grid__item large--one-third medium-down--text-center">
            <h2 class="h4 home-section-title less-margin">Account details</h2>
            <h3 class="h5">Toi Nguyen</h3>
            <p><a href="/account/addresses">View addresses (0)</a></p>
        </div>

        <div class="grid__item large--two-thirds medium-down--text-center">

            <h2 class="h4 home-section-title less-margin">Order history</h2>
            <p>You haven't placed any orders yet.</p>
        </div>

    </div>

    <hr class="thin-line">

    <a href="/account/logout">
        <div class="c-btn c-btn--gold has-shadow" style="margin: 0;">
            <div class="c-btn__inner c-btn__inner--contact" style="padding: 0px 18px;">
                <input type="submit" class="c-contact__submit c-btn__inner-text u-text-playfair-italic"
                       value="Logout">
            </div>
        </div>
    </a>

</div>