.site-header__logo {
    max-width: 440px;
}

.cls-1-hvr {
    fill: none;
    stroke: #f3603f;
    stroke-miterlimit: 10;
    stroke-width: 2.07px;
    fill-rule: evenodd;
}

.cls-2-hvr {
    fill: #f3603f;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width: 2.07px;
    fill-rule: evenodd;
}

.pin-1 {
    fill: none;
    stroke: #b3b3b4;
    stroke-miterlimit: 10;
    stroke-width: 2.07px;
    fill-rule: evenodd;
}

.pin-2 {
    fill: #b3b3b4;
}

.pin-1-hvr {
    fill: none;
    stroke: #f3603f;
    stroke-miterlimit: 10;
    stroke-width: 2.07px;
    fill-rule: evenodd;
}

.pin-2-hvr {
    fill: #f3603f;
}

.inst-1 {
    fill: none;
    stroke: #b3b3b4;
    stroke-miterlimit: 10;
    stroke-width: 2.07px;
    fill-rule: evenodd;
}

.inst-2 {
    fill: #b3b3b4;
}

.inst-1-hvr {
    fill: none;
    stroke: #f3603f;
    stroke-miterlimit: 10;
    stroke-width: 2.07px;
    fill-rule: evenodd;
}

.inst-2-hvr {
    fill: #f3603f;
}
