<div class="header__custom display-table c-page-header-bg">
    <div class="display-table-cell">
        <div class="wrapper wrapper--margins">
            <h1 class="c-page-title" itemprop="name">About Us</h1>
        </div>
    </div>
    <span class=""></span>
</div>

<div class="c-title-card u-text-center">
    <div class="c-title-card__inner">
        <div class="c-title-card__icon c-title-card__icon--glass">
            <div class="c-title-card__icon-inner">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.6 96.2">
                    <path fill="#fff" id="mixology" d="M72.2,0c-8.5,0-15.3,6.9-15.3,15.3c0,0.7,0.1,1.5,0.2,2.2H2.2c-1.2,0-2.2,1-2.2,2.2
              			c0,0.6,0.2,1.1,0.6,1.5L35,55.6v36.3H19.7c-1.2,0-2.2,1-2.2,2.2c0,1.2,1,2.2,2.2,2.2c0,0,0,0,0,0h35c1.2,0,2.2-1,2.2-2.2
              			c0-1.2-1-2.2-2.2-2.2c0,0,0,0,0,0H39.4V55.6l26.4-26.4c7.7,3.6,16.8,0.2,20.3-7.5S86.4,5,78.7,1.4C76.7,0.5,74.5,0,72.2,0z
              			 M67,21.9L37.2,51.6L7.5,21.9H67z M72.3,26.2c-1,0-2-0.1-3-0.4l4.6-4.6c0.9-0.9,0.8-2.2,0-3.1c-0.4-0.4-1-0.6-1.5-0.6H61.5
              			c-1.2-5.9,2.6-11.7,8.5-12.9C76,3.4,81.8,7.2,83,13.1S80.4,24.8,74.4,26C73.7,26.2,73,26.3,72.3,26.2L72.3,26.2z"/>
                </svg>
            </div>
        </div>
        <h2 class="u-text-playfair-italic has-accent-line">The Why</h2>
        <p class="u-text-brandon-reg">Bouquet Bar is an innovative gifting company, which launched in January
            2017 and is rapidly redefining The Art of Gifting. Founders David, Alex, and Sal took a simple idea
            to make the gifting experience unique and meaningful and brought it to life with the birth of
            Bouquet Bar.</p>
        <p class="u-text-brandon-reg">David and Alex are the owners of the glamorous floral design company,
            Square Root Designs, which grace lavish hotel lobbies such as the iconic Four Seasons Beverly
            Wilshire Hotel, the Ritz Carlton Dana Point and some of the most exclusive weddings and events in
            Southern California.</p>
        <p class="u-text-brandon-reg">The duo were continuously approached by clients in search for the perfect
            floral gift and it was quickly evident that customers were looking for something different and
            innovative, but more importantly something that would be consistently perfect. Bouquet Bar focuses
            on bringing excellency to floral design, in combination with a variety of delightful treats,
            creating the perfect luxury gift at the click of a button.</p>
        <p class="u-text-brandon-reg">Come and experience an entirely new and beautiful way to gift.</p>
    </div>
</div>

<div class="c-section-divider c-section-divider--with-video">

    <div class="c-video-container u-bottom-spacer-2">
        <div class="c-frame">
            <div class="c-video-player__video-wrapper">
                <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
                    <iframe src="https://www.youtube.com/embed/vuAS8djH95g?rel=0&amp;showinfo=0" frameborder="0"
                            allowfullscreen="" id="fitvid0"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>

<section class="wrapper">

    <div class="c-square-root">

        <div class="grid">
            <div class="grid__item large--one-half medium-down--hide">
                <div class="c-square-root__lily">
                    <div class="c-square-root__lily-inner"></div>
                </div>
            </div>

            <div class="grid__item large--one-half">
                <h5 class="u-text-playfair-italic">A Bit About</h5>
                <h2 class="u-text-playfair-italic">Square Root Designs</h2>
                <div class="c-square-root__text">
                    <p class="u-text-brandon-reg">Square Root Designs is an innovative event design and
                        production company founded in 2002. The company has worked in a wide range of locations,
                        domestic and global.</p>
                    <p class="u-text-brandon-reg">Square Root’s passionate and skillful design teams specialize
                        in fusing creativity and innovation into works of art. Their designs and projects are
                        recognized internationally and are known as a leading force in the special event and
                        floral industry.</p>
                    <p class="u-text-brandon-reg">Their work has been covered by a wide range of print and media
                        outlets, including shows on Bravo, VH1, HGTV, Style Network and more. As of 2013, their
                        floral designs for the property of the The Ritz-Carlton, Laguna Niguel have been
                        established as the staple look for The Ritz-Carlton brand throughout the world and will
                        be the standard for their properties.</p>
                    <p class="u-text-brandon-reg">Now, they are excited to bring their wealth of experience and
                        design into the realm of gifting, making boring, drab floral arrangements and gift boxes
                        a thing of the past.</p>
                </div>
            </div>

        </div>

    </div>

</section>
