<div class="header__custom display-table c-page-header-bg">
    <div class="display-table-cell">
        <div class="wrapper wrapper--margins">

            <h1 class="c-page-title" itemprop="name">Contact</h1>


        </div>
    </div>
    <span class=""></span>
</div>


<div class="wrapper">

    <div class="c-title-card u-text-center">
        <div class="c-title-card__inner">
            <div class="c-title-card__icon c-title-card__icon--glass">
                <div class="c-title-card__icon-inner">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 16">
                        <path stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round"
                              stroke-miterlimit="10"
                              d="M23.5,14c0,0.8-0.7,1.5-1.5,1.5H2c-0.8,0-1.5-0.7-1.5-1.5V2c0-0.8,0.7-1.5,1.5-1.5h20c0.8,0,1.5,0.7,1.5,1.5 V14z"/>
                        <polyline stroke="#fff" fill="none" points="20.5,4.5 12,10 3.5,4.5 	"/>
                        <line stroke="#fff" fill="none" x1="3.5" y1="12" x2="7" y2="10"/>
                        <line stroke="#fff" fill="none" x1="20.5" y1="12" x2="17" y2="10"/>
                    </svg>
                </div>
            </div>
            <!-- <h2 class="u-text-playfair-italic has-accent-line">Lorem Ipsum Delor</h2> -->
            <p class="u-text-brandon-reg">Usually it’s tough to get the attention of a bartender - not so with
                our giftenders! Holler out, we’ll be right with you.</p>
        </div>
    </div>

</div>

<div class="c-section-divider c-section-divider--higher"></div>


<div class="wrapper u-spacing-tighten-up">

    <div class="c-contact__form contact-form">

        <form method="post" action="https://bouquetbar.com/contact#contact_form" id="contact_form"
              accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type"
                                                                 value="contact"/><input type="hidden"
                                                                                         name="utf8" value="✓"/>

            <div class="form__row">
                <div class="form__column full">
                    <select class="c-contact__select" name="">
                        <option default>What can we help you with?</option>
                        <option value="">Help with an online order</option>
                        <option value="">Help with shipping and delivery</option>
                        <option value="">Question about a product</option>
                    </select>
                </div>
            </div>


            <div class="form__row">

                <div class="form__column third">

                    <label for="ContactFormName">Name*</label>
                    <input required type="text" id="ContactFormName" class="input-full" name="contact[name]"
                           autocapitalize="words" value="">
                </div>

                <div class="form__column third">
                    <label for="ContactFormEmail">Email*</label>
                    <input required type="email" id="ContactFormEmail" class="input-full" name="contact[email]"
                           autocorrect="off" autocapitalize="off" value="">
                </div>

                <div class="form__column third">

                    <label for="ContactFormPhone">Phone Number</label>
                    <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone-number]"
                           value="">
                </div>

            </div>

            <div class="form__row">
                <div class="form__column full">
                    <label for="ContactFormMessage">Message</label>
                    <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]"
                              placeholder="Type your message here..."></textarea>
                </div>
            </div>

            <div class="u-text-center">
                <div class="c-btn c-btn--gold has-shadow">
                    <div class="c-btn__inner c-btn__inner--contact">
                        <input type="submit" class="c-contact__submit c-btn__inner-text u-text-playfair-italic"
                               value="Submit">
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>