<nav>
    <ul>
        <li routerLinkActive="nav-active">
            <a routerLink="/admin/dashboard">dashboard</a>
        </li>
        <li routerLinkActive="nav-active">
            <a routerLink="/admin/product">product</a>
        </li>
        <li routerLinkActive="nav-active">
            <a routerLink="/admin/config">config</a>
        </li>
        <li routerLinkActive="nav-active">
            <a routerLink="/admin/order">order</a>
        </li>
        <li routerLinkActive="nav-active">
            <a routerLink="/admin/user">user</a>
        </li>
        <li>
            <a (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>
